<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.cowboy.project.dao.TransBillMapper">
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache" readOnly="true" />

	<resultMap id="TransBillMap" type="TransBill">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="bill_no" property="billNo" jdbcType="VARCHAR" />
		<result column="trans_time" property="transTime" jdbcType="VARCHAR" />
		<result column="from_station" property="fromStation" jdbcType="VARCHAR" />
		<result column="to_station" property="toStation" jdbcType="VARCHAR" />
		<result column="trans_company" property="transCompany"
			jdbcType="VARCHAR" />
		<result column="trans_phone" property="transPhone" jdbcType="VARCHAR" />
		<result column="dest_company" property="destCompany" jdbcType="VARCHAR" />
		<result column="dest_tel" property="destTel" jdbcType="VARCHAR" />
		<result column="dest_phone" property="destPhone" jdbcType="VARCHAR" />
		<result column="dest_address" property="destAddress" jdbcType="VARCHAR" />
		<result column="pay_type" property="payType" jdbcType="VARCHAR" />
	</resultMap>


	<sql id="Base_Where_Clause">
		<where>
			<trim prefixOverrides="and">
				1=1
				<if test="m.id != null"> and id = #{m.id}</if>
				<!-- 模糊查询 -->
				<if test="m.billNo != null">and bill_No like CONCAT("%",#{m.billNo},"%")</if>
			</trim>
		</where>
	</sql>

	<!-- 查询所有 -->
	<select id="findAll" resultMap="TransBillMap">
		select
		*
		from trans_bill
	</select>

	<!-- 根据id条件查询 -->
	<select id="findById" resultMap="TransBillMap">
		select
		*
		from trans_bill
		where
		id=#{id}
	</select>



	<!-- 根据条件基本查询 -->
	<select id="findPageByExample" resultMap="TransBillMap">
		select t.* from trans_bill t
		<include refid="Base_Where_Clause" />
		order by t.id
		limit #{pageNo,jdbcType=INTEGER}
		,#{pageSize,jdbcType=INTEGER}
	</select>

	<select id="getTotalCount" resultType="int">
		select count( t.id) from trans_bill t
		<include refid="Base_Where_Clause" />
	</select>

	<!-- 添加 -->
	<insert id="save" parameterType="TransBill" keyProperty="id">
		insert
		into
		trans_bill
		(id,bill_no,trans_time,from_station,to_station,trans_company,trans_phone,dest_company,dest_tel,dest_phone,dest_address,pay_type)
		values
		(#{m.id},#{m.billNo},#{m.transTime},#{m.toStation},#{m.transCompany},#{m.transPhone},#{m.destCompany},#{m.destTel},#{m.destPhone},#{m.destAddress},#{m.payType})
	</insert>

	<!-- 删除 -->
	<delete id="delete" parameterType="java.lang.String">
		delete from trans_bill where
		id=#{id}
	</delete>

	<!-- 根据ID修改 -->
	<update id="updateById">
		update trans_bill
		<set>
			<if test="m.billNo != null">bill_no = #{m.billNo},</if>
			trans_time = #{m.transTime},
			from_station = #{m.fromStation},
			to_station = #{m.toSation},
			trans_company=#{m.transCompany},
			trans_phone=#{m.transPhone},
			dest_company=#{m.destCompany},
			dest_tel=#{m.destTel},
			dest_phone=#{m.destPhone},
			dest_address=#{m.destAddress},
			pay_type=#{m.payType},
		</set>
		where id = #{id}
	</update>

</mapper>